<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout}">

<body>
	 <div class="row" layout:fragment="content">
	 <div class="col-lg-12">
	 <section class="panel">
	 <header class="panel-heading">
                            <div>Listar Modelo de Reporte de Laboratorio</div>
     </header>
	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<button type="button" class="btn bg-blue btn-labeled heading-btn"
					onclick="create()">
					<i class="icon-plus3 position-left"></i> Agregar
				</button>
			</div>
		</div>
		<br />


		<table id="dtElement"
			class="table table-bordered datatable-save-state">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th class="text-center">Accion</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>


		<div id="modal_default" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h5 class="modal-title">Modelo Laboratorio</h5>
					</div>

					<div class="modal-body">

						<form id="frmModalModelo" class="form-horizontal">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-lg-3  col-sm-2 control-label">Nombre</label>
										<div class="col-lg-6 col-sm-7">
											<input type="text" name="nombre" id="nombre"
												class="form-control" /><input type="hidden" name="modeloid"
												id="modeloid" /> 

										</div>
										 
									</div>
									<div class="form-group">
										<label class="col-lg-3  col-sm-2 control-label">Estructura</label>
										<div class="col-lg-6 col-sm-7">
                          					<textarea id="tinymce" name="detalleModelo"></textarea>
                          				</div>
                          			</div>
									</div>
							</div>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
						<button type="button" onclick="save()" class="btn btn-primary">Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	 
	
	</section>
	</div>
	</div>
	
	<div layout:fragment="scripts">
		<script>
		/*<![CDATA[*/
	        var context = [[@{/}]];
	    /*]]>*/
        var dtTable;
        var urlContext=context+"modeloinformelab";
        var saveURL = urlContext+"/save";
        var listAllURL = urlContext+'/listAll';
        var getByURL = urlContext+"/getById/";
        var deleteURL = urlContext+"/delete/";
       
        function arrayDatatable(elem){
        	 var array=[
                 elem.modeloid,
                 elem.nombre,
                  
                 dropDown(elem.modeloid)];
        	return array;
        }
        function validateform(){
        	$("#frmModalModelo").validate({
                rules: {
                    nombre: {
                        required: true,
                    }
                    
                },
                messages: {
                	nombre: {
                        required: "Ingrese un nombre",
                    }
                }
            });
        }
        $(document).ready(function () {
        	
        	dtTable = $("#dtElement").DataTable({                              
                searching: true
            });
        	MostrarSummerNote();
        	validateform();
            showList();
        });
        
       	function save(){	 
       		
       		var $form = $("#frmModalModelo");
       		if($form.valid()){
       			var arrayData = getFormData($form);
       			saveFunction(saveURL,arrayData,arrayData.modeloid);
       		}
       	}
		function showList(){
			showListAllFunction(listAllURL,arrayDatatable,dtTable);
		}       
		
        function create() {
        	resetFormElement();
            $("#modeloid").val(0);
            $('#modal_default').modal();
        }
        function functionSetData(data){
        	var form = $("#frmModalModelo");
        	form.find("input").not("[type='submit']").not("[type='reset']").each(function(){
                var thisInput = $(this);
                $("#"+thisInput.attr("name")).val(data[thisInput.attr("name")]);
            });
        	tinymce.get('tinymce').setContent(data.detalleModelo);
        }
		function showDetail(id){			
			showDetailFunction(getByURL,id, functionSetData)
		}

        function deleteData(id) {
        	deleteElement("el Modelo",id,deleteURL,showList,resetFormElement)
        }
         
        function integerToBoolean(value){
            return (parseInt(value)==1)?true:false;            
        }
        function resetFormElement() {
            resetForm("frmModalModelo");
            tinymce.get('tinymce').setContent("");
        }
        
       
     
        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
            	if(n['name']=='modeloid' && n['value']===0){
            		indexed_array[n['name']] = 0;
            	} else if(n['name']=='detalleModelo'){
            		indexed_array[n['name']] = tinymce.get('tinymce').getContent();
            	} else{
                	indexed_array[n['name']] = n['value'];
            	}
            });

            return indexed_array;
        }
        $('.default-date-picker').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            autoclose: true,
            changeMonth: true,
            changeYear: true
        });
        function MostrarSummerNote(){
        	 var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
             tinymce.init({
             	  selector: 'textarea#tinymce',
             	  plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap tinycomments mentions quickbars linkchecker emoticons advtable',
             	  tinydrive_token_provider: 'URL_TO_YOUR_TOKEN_PROVIDER',
             	  tinydrive_dropbox_app_key: 'YOUR_DROPBOX_APP_KEY',
             	  tinydrive_google_drive_key: 'YOUR_GOOGLE_DRIVE_KEY',
             	  tinydrive_google_drive_client_id: 'YOUR_GOOGLE_DRIVE_CLIENT_ID',
             	  mobile: {
             	    plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker textpattern noneditable help formatpainter pageembed charmap mentions quickbars linkchecker emoticons advtable'
             	  },
             	  menu: {
             	    tc: {
             	      title: 'TinyComments',
             	      items: 'addcomment showcomments deleteallconversations'
             	    }
             	  },
             	  menubar: 'file edit view insert format tools table tc help',
             	  toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
             	  autosave_ask_before_unload: true,
             	  autosave_interval: '30s',
             	  autosave_prefix: '{path}{query}-{id}-',
             	  autosave_restore_when_empty: false,
             	  autosave_retention: '2m',
             	  image_advtab: true,
             	  link_list: [
             	    { title: 'My page 1', value: 'https://www.tiny.cloud' },
             	    { title: 'My page 2', value: 'http://www.moxiecode.com' }
             	  ],
             	  image_list: [
             	    { title: 'My page 1', value: 'https://www.tiny.cloud' },
             	    { title: 'My page 2', value: 'http://www.moxiecode.com' }
             	  ],
             	  image_class_list: [
             	    { title: 'None', value: '' },
             	    { title: 'Some class', value: 'class-name' }
             	  ],
             	  importcss_append: true,
             	  templates: [
             	        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
             	    { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
             	    { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
             	  ],
             	  template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
             	  template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
             	  height: 600,
             	  image_caption: true,
             	  quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
             	  noneditable_noneditable_class: 'mceNonEditable',
             	  toolbar_mode: 'sliding',
             	  spellchecker_whitelist: ['Ephox', 'Moxiecode'],
             	  tinycomments_mode: 'embedded',
             	  content_style: '.mymention{ color: gray; }',
             	  contextmenu: 'link image imagetools table configurepermanentpen',
             	  a11y_advanced_options: true,
             	  skin: useDarkMode ? 'oxide-dark' : 'oxide',
             	  content_css: useDarkMode ? 'dark' : 'default',
             	  /*
             	  The following settings require more configuration than shown here.
             	  For information on configuring the mentions plugin, see:
             	  https://www.tiny.cloud/docs/plugins/premium/mentions/.
             	  */
             	  mentions_selector: '.mymention'
             	  
             	   
             	});
        }
        </script>

    	</div>
</body>
</html>